<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>공지사항 상세</title>
</head>

<body th:align="center">

<h1>공지사항 상세</h1>
<form th:action="@{/Notice/updateNotice}" method="post">
    <input name="seq" type="hidden" th:value="${notice.seq}">
    <!--수정할게시글번호-->
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="orange" th:text="제목" width="80"></td>
            <td><input name="title" type="text" th:value="${notice.title}"></td>
            <!--제목수정-->
        </tr>
        <tr>
            <td bgcolor="orange" th:text="작성자"></td>
            <td th:text="${notice.writer}"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="내용">
            <td>
                <textarea name="content" th:text="${notice.content}" cols="40" rows="10"></textarea>
            </td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="등록일"></td>
            <td th:text="${notice.createDate}"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="조회수"></td>
            <td th:text="${notice.cnt}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="게시글수정">
            </td>
        </tr>
    </table>
</form>
</form>
<form th:action="insertReply" method="post">
    <table class="table table-striped" th:align="center" border="1" th:cellpadding="0" th:cellspacing="0"  >
        <tr>
            <td th:text="작성자" ></td>
            <td th:text="댓글" ></td>
            <td th:text="작성날짜" ></td>
        </tr>
        <tr th:if="${reply.notice_seq == notice.seq}" th:each = "reply : ${ReplyList}">

            <td th:text = "${reply.r_writer}"></td>
            <td th:text = "${reply.Reply}"></td>
            <td th:text = "${reply.r_createDate}"></td>
        </tr>
    </table>
    <table class="table table-striped" th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <input name="board_seq" type="hidden" th:value="${notice.seq}">
        <tr>
            <td th:text="작성자" th:width="80"></td>
            <td><label>
                <textarea name="c_writer"  size="40"></textarea>
            </label></td>
        </tr>
        <tr>
            <td th:text="댓글입력" th:width="80"></td>
            <td><label>
                <textarea name="comment1"  cols="40" rows="10" ></textarea>
            </label></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="댓글등록"></td>
        </tr>
    </table>
</form>
</div>
<img th:src="@{${imgLoading}}"/>
<a th:href="@{/Notice/getNoticeList}">목록</a>
<a th:href="@{/Notice/deleteNotice(seq=${notice.seq})}">글삭제</a>
<!--글삭제링크를 클릭했을때 삭제할 게시글의 일련번호를 파라미터로 전달-->
<!--<div th:each="img :${imgLoading}">-->
<!--    <img th:src="@{${img}}" alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center">-->
<!--    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">-->
<!--        <p class="leading-relaxed">test text</p>-->
<!--</div>-->
</body>
</html>