<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>질문등록</title>
</head>
<body th:align="center">
<div layout:fragment="content" class="container">
<h5 class="my-3 border-bottom pb-2">질문등록</h5>
<!--
    [클라이언트] html의 form태그를 통한 submit액션을 실행하면 [서버]로 전달되는 mapping주소
    th:action="insertBoard"
    mothod="post" // get/post방식으로 데이터 전달 명시하다
    [서버]컨트롤러에서는 get방식 받는 것과 post방식으로 받는 것을 구분할 수 있습니다
-->
    <form th:action="@{/Notice/insertNotice}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="writer" class="form-label">작성자</label>
            <input type="text" name="writer" id="writer" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    <div class="p-2 w-full">
    <input multiple="multiple" type="file" name="uploadfile"/>
    <input multiple="multiple" type="file" name="uploadfile"/>
    <input multiple="multiple" type="file" name="uploadfile"/>
    <input multiple="multiple" type="file" name="uploadfile"/>
    </div>
<a th:href="@{/Notice/getNoticeList}">공지사항 목록</a>
<hr>
</form>
</div>
</body>
</html>