<!DOCTYPE html>
<!--타임리프 선언 (사용하겠다는 선언)-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <title>공지사항 목록</title>
</head>
<!--<p class="test">test color</p>-->
<body th:align="center">
<h1>공지사항 목록</h1>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
    <tr>
        <th bgcolor="orange" width="100">번호</th>
        <th bgcolor="orange" width="200">제목</th>
        <th bgcolor="orange" width="150">작성자</th>
        <th bgcolor="orange" width="150">등록일</th>
        <th bgcolor="orange" width="100">조회수</th>
    </tr>
    <tr th:each = "key : ${keyword}">
        <td th:name="seq" th:text = "${key.seq}"></td>
        <td th:name="title" th:text = "${key.title}"></td>
        <td th:name="content" th:text="${key.content}"></td>
        <td th:name="writer" th:text = "${key.writer}">
            <!-- dates.format = 날짜를 일정형식으로 바꿔주는 포맷팅 -->
        <td th:name="createDate" th:text = "${#dates.format(key.createDate, 'yyyy-MM-dd HH:mm')}">
            <!--            <td th:name="cnt" th:text = "${board.cnt}">-->
    </tr>
</table>
<a th:href="@{/Notice/insertNotice}">글등록</a>
</body>
</html>